:root {
    --ash-gray: #BFC3BA;
    --silver: #A9ACA9;
    --light-blue: #0e2839;
    --dark-blue: #0e1b29;
    --dark-text: #070707;
    --light-text: #FFFFF2;
    --black: #000;
    --background: #77298a;
}

/* Base Styles */
html, body {
    margin: 0;
    padding: 0;
    background-image: url(./images/running.girl.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    padding-top: 10px;
}

a {
    color: var(--dark-blue);
    text-decoration: none;
}

/* Checkbox Styling */

input[type="checkbox"] {
    margin: 3px 5px 3px 5px;
    font: inherit;
    cursor: pointer;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(.25em);
    flex-direction: row;
    flex: 0 0 100%;
}

input[type="submit"] {
    position: absolute;
    width: 150px;
    height: 40px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--dark-blue);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--silver);
    color: var(--dark-text);
}

ul{
    list-style: none;
}

ol {
    line-height: 30px;
}

ul li:before{
    color:#000;
    content: '\2713';
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 10px;
}

ul li,ol li {
    justify-content: center;
    align-items: center;
    margin-left: -50px;
}

/* Classes */

.section-head {
    height: 50px;
    width: 553px;
    font-size: 120%;
    font-weight: 800;
    color: var(--light-text);
    margin-top: -40px;
    background-color: var(--dark-blue);
    border: 1px solid var(--silver);
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
    justify-content: center;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 1em;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    color: var(--dark-text);
    text-align: right;
    margin-right: 45px;
    font-weight: bolder;
    font-weight: 600;
}

/* IDs */

#main-header {
    display: flex;
    align-items: center;
    justify-content: right;
    color: var(--dark-blue);
    letter-spacing: 2px;
    font-size: 180%;
    font-weight: 800;
    text-align: center;
    height: 90px;
    margin: 0px 0px 50px 0px;
    width: 100%;
    top: 0;
    left: 0;
}

#header-title {
    font-size: 80px;
    font-weight: bold;
    margin: 0px 40px 0px 0px;
    margin-bottom: 0px;
}

#workouts, #exercises, #previousworkouts {
    width: 550px;
    height: 300px;
    background-color: var(white);
    color: var(--dark-text);
    border: 1px solid var(--silver);
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
    margin: 30px; 
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    opacity: .9;
}

#allpreviousworkouts, #recomexercises {
    font-size: 22px;
    font-weight: bolder;
    text-align: left;
}

#previousworkouts {
    width: 900px;
    margin: 40px 0px 0px 150px;
}

#achievements-head {
    width: 900px;
}

#bieFit-header {
    font-weight: bolder;
}

#form {
    padding-top: 1px;
    font-size: 1rem;
    font-weight: bolder;
    line-height: 1.1;
}

#checklist {
    margin-right: 20px;
}

#checklist-2 {
    margin-left: 20px;
}

#checklist, #checklist-2 {
    margin-top: 25px;
    height: 398px;
    font-size: 22px;
    justify-items: center;
    align-items: center;
    padding: 0px;
    text-align: left;
    width: min-content;
    white-space: nowrap;
    display: inline-block;
    letter-spacing: 1px;
}

#checkbox-text {
    padding: 0px 0px 3px 3px;
}

/* Screen */

@media screen and (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }
    html, body {
        background-image:float;
    }
    #previousworkouts {
        width: 550px;
        margin-left: 30px;
    }
    #achievements-head {
        width: 550px;
    }
}
